.details-item__block {
  background-color: rgb(50, 50, 50);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.details-item__title {
  font-family: 'Roboto', sans-serif;
  color: wheat;
  font-size: 30px;
  text-align: center;
}

.details-item__img {
  margin-left: 10px;
  margin-bottom: 10px;
}

.details-item__content {
  color: white;
  width: 70%;
}

.details-item__info {
  display: flex;
  justify-content: space-around;
}
